* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #bab78c;
}

header {
  display: flex;
  justify-content: center;
  height: 20%;
  margin-top: 32px;
  padding: 16px;
  margin-bottom: 24px;
}

/* .start {
  background-color: #daa520;
  width: 30%;
  padding: 16px;
  border: none;
  border-radius: 4px;
} */

.start:hover {
  background-color: #edbb3e;
}

#gameboard {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.box {
  margin-top: 24px;
  border: 1px solid black;
  /* display: grid; */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 176, 82);
  color: #fff;
  border-radius: 4px;
}

.box:hover {
  background-color: #6a833f;
  color: #fff;
  box-shadow: 3px 3px #354120;
}

.startNew {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}
